env:
  es6: true
  node: true
  browser: true

parserOptions:
  sourceType: module

# es2015
# この資料でes2015関連参考になる http://yoshiko-pg.github.io/slides/20160512-frontend-biz/
# no-varやケツカンマは入れたいね。
# stage0,1までは入れてもいいかもね
rules:
  no-new: 0
  no-var:
    - error
  no-unused-vars:
    - error
    - vars: all
      args: none
  indent:
    - error
    - 2
  quotes:
    - error
    - single
  linebreak-style:
    - error
    - unix
  semi:
    - error
    - always
