extends: airbnb
env:
  browser: true
rules:
  semi:
    - error
    - never
  no-unexpected-multiline:
    - error
  react/jsx-filename-extension:
    - error
    - extensions:
      - .js
      - .jsx

